<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>Brasso-Identifier</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>fb1626177047720751</string>
				<string>swifter-$(WWIH9KMtcjTkEf34eoEhPAK3u)</string>
				<string>com.googleusercontent.apps.227311726845-gfjaujlsk25t4vt24rchfs6nvbjpi07d</string>
				<string>com.googleusercontent.apps.476076138050-onji27l92vr9lpqonvq4t42g7r4qebml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>brassotwitter</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>ENTER_YOUR_FACEBOOK_APP_ID_HERE</string>
	<key>FacebookClientToken</key>
	<string>ENTER_YOUR_FACEBOOK_CLIENT_TOKEN_HERE</string>
	<key>FacebookDisplayName</key>
	<string>Brasso</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>line</string>
		<string>lineauth2</string>
	</array>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>ENTER_YOUR_CHANNEL_ID_HERE</string>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansJP-Regular.otf</string>
		<string>NotoSansJP-Medium.otf</string>
		<string>NotoSansJP-Bold.otf</string>
		<string>NotoSansJP-Light.otf</string>
		<string>NotoSansJP-Thin.otf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
